body {
  background-color: #1d1f22;
  color: white;
}

.jumbotron {
  background-color: black;
}

.btn-search input{
  margin: 10px;
}

@media screen and (min-width: 576px){
  .btn-search input{
    margin: 15px;
  }
}

#gifResultsContainer{
  display: flex;
  justify-content: center;
}

.gif-image{
  margin: 1rem 1.5rem;
  width: 200px;
}

@media screen and (min-width: 576px){
  #container {
    display: grid;
  }
  .gif-image {
    margin: 1rem 1.5rem;
    width: 350px;
  }
}